*{

    text-decoration: none;
    font-family: 'FontAwesome';
    
    }
    
body{
    background-color: #7b9aff9c;
    }
  
#informacoes2{
    background-color: #e4d1cb;
    margin-top: 70px;
    padding: 2px;
    }
    
#informacoes2 p{
    text-align: center;
    background-color: #e4d1cb;
    font-family: 'FontAwesome';
    }
    
#informacoes2 h1{
    text-align: center;
    background-color: #e4d1cb;
    font-family: 'FontAwesome';
    }
    
#inf{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: black;
    padding: 2%;
    background-color: #e4d1cb;
    }
    
   

    
    
    
@media screen and (max-width: 12200px) {
#informacoes2 {
        border-radius:10px;
        margin: 9%;
    }
    
    
#corpo{
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-around;
    }
#corpo2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 01%;
        margin-right: 01%;
        border-radius: 10px;
        background-color: #e4d1cb;
        align-items: center;
    }
        
#logo-mobile{
    padding:0px;
    }
    
#logo1-mobile{
    box-shadow: -5px 7px 6px -2px rgb(0 2 0);
    display: flex;
    flex-direction: row;
    position: fixed;
    top: -8px;
    width: 97%;
    border-radius: 10px;
    background-image: url(https://garden.spoonflower.com/c/2549936/p/f/m/lBF5XTJ1a4ox2-Pn8JMHJTIewOn2ZxIa3lkIv6Da2xNoZmC1yB8/Color%20Pop%20Doodle%20Dogs%2C%20%204%20inch%20x%208%20inch%20repeat%20scale%20Black%20Outline.jpg);
    align-items: center;
    }
    
#achai-mobile{
    box-shadow: 0 5px 6px 1px rgb(0, 0, 0, 0.8);
    font-family: "Trirong", serif;
    background-color: white;
    border-radius: 10px;
    padding: 2px;
    }
   
   

#contate h1{
        margin: 5%;
    }
    
#pai-divs{
    display: flex;
    width: inherit;
    padding: 5%;
    border-radius: 10px;
    justify-content:space-around;
    flex-direction:row ;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

#filho{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    padding: 5%;
    text-align: center;

    


}

#filho1{
    border-radius: 10px;
    padding: 1%;
    margin: 3%;
    box-shadow: 0 18px 18px 3px rgb(0, 0, 0, 0.8);

}

#filho2{
    border-radius: 10px;
    padding: 1%;
    margin: 13%;
    border-radius: 10px;
    text-align: center;
    padding-right: 15%;
    padding-left: 15%;
    background-color: #e4d1cb;
    box-shadow: 0 18px 18px 3px rgb(0, 0, 0, 0.8);

}

}


   

